.DS_Store
.Rhistory
.Rproj.user/
.Ruserdata
.RData
__pycache__/
.ipynb_checkpoints/
_cache/
*_cache/
.renv/
renv/library/
.env
data/*
!data/README.md
logs/
results/**/*.rds
results/**/*.rda
results/**/*.rdata
